<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1012079981785-5l229kan6fcs62aed21kgp515qsud425.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012079981785-5l229kan6fcs62aed21kgp515qsud425</string>
	<key>API_KEY</key>
	<string>AIzaSyD8GTQVzT2WfBSCJ9RE0qB7OUCrSmjA1Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>1012079981785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Credit-Fitness</string>
	<key>PROJECT_ID</key>
	<string>credit-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>credit-fitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012079981785:ios:c607a789f5b48f13</string>
	<key>DATABASE_URL</key>
	<string>https://credit-fitness.firebaseio.com</string>
</dict>
</plist>